<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Books with CSS 3D Transforms - Demo 2</title>
    <meta name="description" content="Animated Books with CSS 3D Transforms" />
    <meta name="keywords" content="book, 3d, interactive, animated, 3d transform, css, web design" />
    <meta name="author" content="Marco Barría for Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/book2.css" />
    <link rel="stylesheet" href="/stylesheets/lifenote.css">
</head>
<body>
<div class="container">
    <!-- Top Navigation -->

    <div id="note" >
        <div id="notecon">

            <% note.forEach(function (note) {%>
            <form action="handle" method="post">
                <input type="text" name="title" value="<%-note.title%>" readonly="readonly">
                <textarea name="write" id="textarea" cols="30" rows="10" value=" " placeholder=" ">
                <%=note.write%>
                </textarea>
                <button class="open" value="open">Toggle</button>
                <button type="submit" name="Save" value="Save" id="save">Save</button>
                <button type="submit" name="Delete" value="Delete" id="delete">Delete</button>
            </form>
            <%}); %>

            <form action="insert" method="post">
                <input type="text" name="inserttitle" placeholder="Add title...">
                <textarea name="insertwrite" id="" cols="30" rows="10" placeholder="Add new note..."></textarea>
                <button type="submit">Finish</button>
            </form>

        </div>

        <form action="quit" method="post">
            <button type="submit" id="quit"></button>
        </form>
    </div>

    <div class="component" style="filter: blur(3px)">

        <ul class="align">
            <li>
                <figure class='book'>

                    <!-- Front -->

                    <ul class='paperback_front'>
                        <li>
                            <span class="ribbon">Nº1</span>
                            <img src="img/bg.jpg" alt="" width="100%" height="100%">
                        </li>
                        <li></li>
                    </ul>

                    <!-- Pages -->

                    <ul class='ruled_paper'>
                        <li></li>
                        <li>
                            <a class="btn" href="#">Download</a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <!-- Back -->

                    <ul class='paperback_back'>
                        <li>
                            <img src="img/bg.jpg" alt="" width="100%" height="100%">
                        </li>
                        <li></li>
                    </ul>
                    <figcaption>
                        <h1>Sketches</h1>
                        <span>By Marco Barría for Codrops</span>
                        <p>Avocado bell pepper earthnut pea garlic chickpea seakale lotus root salad broccoli zucchini okra scallion daikon. Celtuce salad burdock wattle seed.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class='book'>

                    <!-- Front -->

                    <ul class='paperback_front'>
                        <li>
                            <span class="ribbon">NEW</span>
                            <img src="img/paper.jpg" alt="" width="100%" height="100%">
                        </li>
                        <li></li>
                    </ul>

                    <!-- Pages -->

                    <ul class='ruled_paper'>
                        <li></li>
                        <li>
                            <a class="btn" href="#">PREVIEW</a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <!-- Back -->

                    <ul class='paperback_back'>
                        <li>
                            <img src="img/paper.jpg" alt="" width="100%" height="100%">
                        </li>
                        <li></li>
                    </ul>
                    <figcaption>
                        <h1>Drawings</h1>
                        <span>By Marco Barría for Codrops</span>
                        <p>Courgette corn asparagus spinach gourd bok choy gram carrot tomato azuki bean scallion quandong welsh onion. Zucchini garlic okra kakadu plum scallion wakame turnip greens.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class='book'>

                    <!-- Front -->

                    <ul class='paperback_front green'>
                        <li></li>
                        <li></li>
                    </ul>

                    <!-- Pages -->

                    <ul class='ruled_paper'>
                        <li></li>
                        <li>
                            <a class="btn" href="#">Download</a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <!-- Back -->

                    <ul class='paperback_back green'>
                        <li></li>
                        <li></li>
                    </ul>
                    <figcaption>
                        <h1>Drafts</h1>
                        <span>By Marco Barría for Codrops</span>
                        <p>Mung bean caulie sorrel celery kohlrabi salsify komatsuna carrot dulse scallion bunya nuts peanut broccoli rabe tatsoi shallot celtuce parsley.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class='book'>

                    <!-- Front -->

                    <ul class='paperback_front red'>
                        <li></li>
                        <li></li>
                    </ul>

                    <!-- Pages -->

                    <ul class='ruled_paper'>
                        <li></li>
                        <li>
                            <a class="btn" href="#">Download</a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <!-- Back -->

                    <ul class='paperback_back red'>
                        <li></li>
                        <li></li>
                    </ul>
                    <figcaption>
                        <h1>Scribble</h1>
                        <span>By Marco Barría for Codrops</span>
                        <p>Mung bean caulie sorrel celery kohlrabi salsify komatsuna carrot dulse scallion bunya nuts peanut broccoli rabe tatsoi shallot celtuce parsley.</p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <p class="note">Please note that this only works in browsers that support CSS 3D Transforms. Also note that IE10 <strong>does not</strong> support <em>preserve-3d</em> which is needed for this demo.</p>
</div><!-- /container -->
<!-- For the demo ad only -->
<script src="http://tympanus.net/codrops/adpacks/demoad.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7243260-2']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
//    $.fn.scrollUnique = function() {
//
//        return $(this).each(function() {
//            var eventType = 'mousewheel';
//            if (document.mozHidden !== undefined) {
//
//                eventType = 'DOMMouseScroll';
//            }
//            $(this).on(eventType, function(event) {
//                // 一些数据
//                var scrollTop = this.scrollTop,
//                    scrollHeight = this.scrollHeight,
//                    height = this.clientHeight;
//
//                var delta = (event.originalEvent.wheelDelta) ? event.originalEvent.wheelDelta : -(event.originalEvent.detail || 0);
//
//                if ((delta > 0 && scrollTop <= delta) || (delta < 0 && scrollHeight - height - scrollTop <= -1 * delta)) {
//                    // IE浏览器下滚动会跨越边界直接影响父级滚动，因此，临界时候手动边界滚动定位
//                    this.scrollTop = delta > 0? 0: scrollHeight;
//                    // 向上滚 || 向下滚
//                    event.preventDefault();
//                }
//            });
//        });
//    };
    //        $('#note').scrollUnique();


    $(document).click(function () {
        $('#note').animate({width: '1%',
            height: '0px',
            top: '300px',
            marginLeft: '-25%'},500)
        setTimeout(function () {
            $('#quit').click()
        },100)
    })
    $('#quit').click(function () {
        console.log('b');
    })
    $('#note').click(function (event) {
        event.stopPropagation();
    })

    var index = 1;

    $('.open').click(function (event) {
        console.log('a');
        event.stopPropagation();
        event.preventDefault();
        if(index==1){
            $(this).prev().animate({height:"600px"})
            index = 2;
            return
        }
        if(index==2){
            $(this).prev().animate({height:"20px"});
            index = 1;
        }
    })


    $('textarea').focus(function () {
        $(this).nextAll().animate({height:"30px"});
        $(this).nextAll().css('color','#16a085')
    })
    $('textarea').blur(function () {
        $(this).nextAll().animate({height:"0px"});
        $(this).nextAll().css('color','white')
    })




    $(document).ready(function () {
        $('#note').animate({width: '68%',
            height: '480px',
            top: '80px',
            left: '68%',
            marginLeft: '-52%'},500)
    })

</script>
</body>
</html>